@page
@model Policlinica.UpsertPacientiModel
@{
    ViewData["Title"] = "UpsertPacienti";
}

<div class="container-fluid">
    <h1>Pacienti Policlinica</h1>
    <div class="row">
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Pacient nou</button>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <form method="post" asp-page-handler="New">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Adauga Pacient</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" asp-for="@Model.PacNou.ID_PACIENTI" />
                            <div class="row">
                                <label asp-for="@Model.PacNou.NUME"></label>
                                <input asp-for="@Model.PacNou.NUME" />
                            </div>
                            <div class="row">
                                <label asp-for="@Model.PacNou.PRENUME"></label>
                                <input asp-for="@Model.PacNou.PRENUME" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-success" type="submit" value="Salveaza" />
                            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @if (Model.Pacienti != null)
        {
            @foreach (Pacient p in Model.Pacienti)
            {
                <div class="col-ms-4" style="padding:5px;">
                    <form method="post">
                        <input type="hidden" name="id" asp-for="@p.ID_PACIENTI" />
                        <label asp-for="@p.NUME"></label>
                        <input class="form-control" name="denumire" value="@p.NUME" />
                        <label asp-for="@p.PRENUME"></label>
                        <input class="form-control" name="denumire" value="@p.PRENUME" />
                        <input class="btn btn-success" type="submit" value="Salveaza" />
                    </form>
                    <form method="post" asp-page-handler="Delete">
                        <input type="hidden" name="id" asp-for="@p.ID_PACIENTI" />
                        <input class="btn btn-danger" type="submit" value="Sterge" />
                    </form>
                </div>
            }
        }
    </div>
</div>
